## Different Data Types in Python

In [1]:
## Integer Data Type
age = 34
print(age)
print(type(age))

34
<class 'int'>

In [3]:
## floating point
speed = 35.52
print(type(speed))

<class 'float'>

In [4]:
## string
name = "Hassan"
print(type(name))

<class 'str'>

In [5]:
## boolean
x = False
print(type(x))

<class 'bool'>

In [7]:
a = 10
b = 10
type(a == b)

bool

In [8]:
## common errors
sum = "1" + 1

TypeError: can only concatenate str (not "int") to str

In [9]:
print ("123" + str(123))

123123