## Sets in Python

In [19]:
# Create a set
my_set = {1,2,4,7,9}
print(my_set)
print(type(my_set))

{1, 2, 4, 7, 9}
<class 'set'>

In [20]:
empty_set = set()
type( empty_set)

set

In [21]:
new_set = set([1,1,1,2,2])
new_set  ## the duplicate will be removed

{1, 2}

In [22]:
## Basic set operations
## A dding and removing elements
new_set.add(7)
new_set

{1, 2, 7}

In [23]:
new_set.remove(7)
new_set

{1, 2}

In [24]:
new_set.remove(10)

KeyError: 10

In [25]:
new_set.discard(10) # use this does not generate error
new_set

{1, 2}

In [26]:
# pop method
x = new_set.pop()
print(x)
print(new_set)

1
{2}

In [27]:
## create all the elements
new_set.clear()
print(new_set)

set()

In [28]:
# Set membership in python
my_set = {1,2,3,4,5}
print(3 in my_set)

True

In [29]:
# Math operations in python
set1 = {1,2,23,5,7}
set2 = {1,2,14,123,22}

union_set = set1.union(set2)
union_set

{1, 2, 5, 7, 14, 22, 23, 123}

In [30]:
intersection_set = set1.intersection(set2)
intersection_set

{1, 2}

In [31]:
set1.difference(set2)

{5, 7, 23}

In [32]:
set2.difference(set1)

{14, 22, 123}

In [33]:
set1.symmetric_difference(set2)

{5, 7, 14, 22, 23, 123}

In [35]:
## Set methods
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [36]:
lst =[ 1,2,2,2,2,3,4,5,6,7,7,7,7] 
# how to remove duplicates from the list
set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [40]:
### Counting unique word in text
text = "Hi iran. god bless iran. god saves iran"
tokens = text.split()
unique_tokens = set(tokens)
print(unique_tokens)

{'god', 'saves', 'bless', 'iran', 'Hi', 'iran.'}